.html {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.w3-sidebar a {font-family: "Roboto", sans-serif}

body,h1,h2,h3,h4,h5,h6,.w3-wide {
  font-family: "Montserrat", sans-serif;
  direction: rtl;
}


.contentP {
  margin: 25px;
  font-family: "Montserrat", sans-serif;
  direction: rtl;
}

.contentH {
  margin: 12px;
  font-family: "Montserrat", sans-serif;
  direction: rtl;
  color: #2693d7;
  transform: scale(0.75);
  animation: scale 5s forwards ;
}


.animation {
  width: 30px;
  height: 30px;
  background: #2693d7;
  position: relative;
  animation: righttoleft 6s forwards;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
  direction:rtl;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  direction:rtl;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #2693d7;
  color: white;
  direction:rtl;
  text-align:center;
}

#upper {
	background-color: tomato;
}

#lower {
	background-color: lightgreen;
}

@keyframes righttoleft {
  from {right: 0px;}
  to {right: 60px;}
}

@keyframes scale {
  100% {
    transform: scale(0.98);
  
