{% extends "layout.html" %}
{% block content %}

<div>
<h3 class = "contentH">مؤشرات الاداء المتوازن </h3>

<p class ="contentP">

بالنسبة الى مشروع ابراج العاصمة 
<br>
حيث ان المشروع يقوم بصب خرسانة ذاتية الدمك و استعمال شدة متسلقة فى الاكوار تتطلب أعمال اصلاح و اعادة فرد للاشاير و أعمال تزريع للاشاير التالفة بعد الصب و بالتالى اعادة اعمال البياض حول الاكوار للمعالجة حول الاشايرو ذلك طبقا لأصول الصناعة و تعليمات استشارى المشروع وتحقيق اشتراطات التعاقد ،لذلك ترى ادارة الجودة أن هذه النسبةلا تعبر عن ضعف فى التحكم او ضعف فى جودة المنتج النهائى.
<br> 
ترى ادارة الجودة ان المشروع يقوم بعمل جيد جدا فى اخراج منتج نهائى مطابق للمواصفات و المشروع يستحق الحافز الخاص بالجودة كاملا
<br>

</p>
</div>

<div>
  <table id="customers">
  <tr>
    <th>المشروع</th>
    <th>حجم العمل المنفذ  فى الفترة من 1 ديسمبر حتى 28 فبراير 2022</th>
    <th>تكلفة الاعمال المعيبة الاجمالية فى الفترة من 1 ديسمبر حتى 28 فبراير 2022</th>
    <th>نسبة الاعمال المعيبة الى حجم العمل المنفذ </th>
  </tr>
  <tr>
    <td>ابراج العاصمة</td>
    <td>68,137,983.60</td>
    <td>641,898.23</td>
    <td id ="upper">%0.942</td>
  </tr>
  <tr>
    <td>بنك قطر الوطنى</td>
    <td>69,839,047.83</td>
    <td>125,473.92</td>
    <td id ="lower">0.099%</td>
  </tr>
  <tr>
    <td>ابراج العلمين LD04</td>
    <td>135,954,091.00</td>
    <td>203,222.03</td>
    <td id ="lower">0.149%</td>
  </tr>
  <tr>
    <td>جامعة العلمين الدولية</td>
    <td>104,530,458.75</td>
    <td>53,643.52</td>
    <td id ="lower">0.051%</td>
  </tr>
  <tr>
    <td>ابراج العلمين LD07</td>
    <td>104,530,458.75</td>
    <td>53,643.52</td>
    <td id ="lower">0.051%</td>
  </tr>
  <tr>
    <td>الجامعة اليابانية</td>
    <td>104,530,458.75</td>
    <td>53,643.52</td>
    <td id ="lower">0.051%</td>
  </tr>
  <tr>
    <td>البنك الاهلى</td>
    <td>104,530,458.75</td>
    <td>53,643.52</td>
    <td id ="lower">0.051%</td>
  </tr>
  <tr>
    <td>بنك فيصل الاسلامى</td>
    <td>104,530,458.75</td>
    <td>53,643.52</td>
    <td id ="lower">0.051%</td>
  </tr>
  <tr>
    <td>مشروع المنصورة 8</td>
    <td>104,530,458.75</td>
    <td>53,643.52</td>
    <td id ="lower">0.051%</td>
  </tr>
  <tr>
    <td>القطار السريع</td>
    <td>104,530,458.75</td>
    <td>53,643.52</td>
    <td id ="lower">0.051%</td>
  </tr>
</table>

</div>

<div>{{data.ms.compar_fig}}</div>

{% endblock content %}