{% extends "layout.html" %}
{% block content %}

<div>
<h3 class ="contentH">مقدمة</h3>
<p class ="contentP">يهدف التقرير الى تقليل التكاليف المالية التى تتحملها الشركة الناتجة عن ضعف جودة المنتج اثناء مرحلة تنفيذ المشروع و زيادة الربحية بصورة عامة للشركة و ذلك عن طريق ارساء الية ضبط و قياس و متابعة للتكاليف الخاصة بضعف جودة تنفيذ البنود الخرسانية كمرحلة اولى ,  و منها على سبيل المثال متابعة التكاليف الخاصة باعمال تكسير الخرسانة بعد الصب و تكاليف يوميات النحاتين و المبيضين المحملة على بنود الخرسانة بالاضافة الى تكلفة مواد التزريع و المعالجة المستخدمة لمعالجة عيوب الاسطح الخرسانية نتيجة حدوث تقصير اثناء صب الخرسانة او بعدها.</p>
<p class ="contentP">ثانيا اظهار الدروس المستفادة من التقرير لمنع تكرار الاخطاء فى المشروعات مع اخذ تلك النتائج المستخلصة من التقرير فى الاعتبار عند دراسة و تحليل البنود و اعداد الخطط اللازمة للمشاريع المستقبلية للشركة.</p>

<h3 class ="contentH">احصائيات عامة على مجمل مشاريع الشركة الجارى تنفيذها</h3>
<p class ="contentP">اجمالى حجم العمل المنفذ منذ بدء العمل بالمشاريع الجارى العمل بها حتى تاريخ 28 فبراير 2021 : 11 مليار  و 184 مليون و 530 الف جنية مصري تقريبا وذلك للمشروعات التالية :
(ابراج العاصمة , بنك قطر الوطنى ,  بنك فيصل الاسلامى , البنك الاهلى , جامعة العلمين الجديدة , الجامعة اليابانية , مشروع المنصورة 8 , ابراج العليمن LD04  , و ابراج العليمن LD07 ,  القطار السريع , محطتى رفع الحمام)
</p>
<p class ="contentP">اجمالى تكلفة اعادة الاعمال الناتجة عن ضعف جودة المنتج التى تحملتها الشركة من بدء العمل بالمشاريع الجارى تنفيذها حتى تاريخة : 14  مليون و 139 الف جنية تقريبا بنسب  0.126 % من اجمالى حجم العمل المنفذ </p>
</div>


<div> {{ data.total.html_fig }} </div>

{% endblock content %}