{% extends "layout.html" %}
{% block content %}
    <div>
    <h3 class = "contentH splitting">{{ data.ld07.project_name }}</h3>
    <h3 class = "contentH splitting"> ملاحظات عامة على اداء المشروع</h3>
    </div>
    {%for item in data.notes.ld07%}
    <div>
        <div>
            <div class ="animation">
                <div>
                    <h3 style = "text-align:center; color:white">{{item}}</h3>
                </div>
            </div>
                <p class="contentP"> {{data['notes']['ld07'][item]}}</p>
        </div>
    </div>
    {%endfor%}
      
   

    <div>
        {{ data.ld07.html_fig }}
    </div>


{% endblock content %}