{% extends "layout.html" %}
{% block content %}
    <div>
    <h3 class = "contentH splitting"> ملاحظات ادارة الجودة</h3>
    </div>

    <div>
        <div">
            <div class ="animation">
                <div>
                    <h3 style = "text-align:center; color:white">01</h3>
                </div>
            </div>
                <p class="contentP"> تم صرف ما يقرب من 3 مليون جنية خسائر مباشرة ناتجة عن تكسير عناصر خرسانية شامل الادوات و العدة المستخدمة فى التكسير بعد صبها</p>
        </div>
      </div>

      <div>
        <div">
            <div class ="animation">
                <div>
                    <h3 style = "text-align:center; color:white">02</h3>
                </div>
            </div>
                <p class="contentP"> تم صرف حوالى 4.43 مليون جنيه يوميات نحاتين على مستوى مشروعات الشركة نتيجة لأعمال الاصلاح </p>
        </div>
      </div>


      <div>
        <div">
            <div class ="animation">
                <div>
                    <h3 style = "text-align:center; color:white">03</h3>
                </div>
            </div>
                <p class="contentP"> تم صرف ما يقرب من 3.45 مليون جنيه يوميات مبيضين مستخدمة فى أعمال الاصلاح</p>
        </div>
      </div>


      <div>
        <div">
            <div class ="animation">
                <div>
                    <h3 style = "text-align:center; color:white">04</h3>
                </div>
            </div>
                <p class="contentP"> تتراوح نسبة تكلفة الاعمال المعيبة من 0.785 % فى مشروع ابراج العاصمة الى 0.037% فى مشروع ابراج العلمين LD04</p>
        </div>
      </div>


      <div>
        <div">
            <div class ="animation">
                <div>
                    <h3 style = "text-align:center; color:white">05</h3>
                </div>
            </div>
                <p class="contentP"> المتوسط العام الخاص بتكلفة إعادة العمل لمشرعات الشركة مجمعة هو 0.15% ( مؤشر تراكمى)</p>
        </div>
      </div>
      

      <div>
        <div>
            <div class ="animation">
                <div>
                    <h3 style = "text-align:center; color:white">06</h3>
                </div>
            </div>
                <p class="contentP"> ا المشروعات التي تحت هذا المؤشر  التراكمى هي (مشروعات المنصورة8 / أبراج العلمين LD04  , LD07 والجامعة اليابانية و جامعة العلمين الدولية) و المشروعات ذات القيم المرتفعة هي (أبراج العاصمة/بنك قطر الوطني / بنك فيصل الاسلامى)</p>
        </div>
      </div>


      <div>
        <div>
            <div class ="animation">
                <div>
                    <h3 style = "text-align:center; color:white">07</h3>
                </div>
            </div>
                <p class="contentP"> بالنسبة لمشروع أبراج العاصمة الإدارية ترجع القيمة المرتفعة نتيجة أعمال الإصلاح التي تمت في فترة ما بعد الحجر وخصوصاً في الأكوار الخاصة بالبرجين بالإضافة الى المشاكل الحادثة في الشدة المتسلقة في بداية  المشروع  اما بالنسبة لمشروع بنك فيصل الإسلامي ترجع النسبة المرتفعة نتيجة أعمال الإصلاحات التي تمت في اللبشة الخاصة بالمشروع بالإضافة إلى التكسير في السلالم والتي تم صبها بعد انتهاء اعمال الهيكل الخرساني بالمشروع وبعض المشاكل في الواجهات الخاصة بالمشروع</p>
        </div>
      </div>
      <div>
      <h3 class = "contentH splitting">التوصيات الخاصة بادارة الجودة</h3>
      </div>
      <div>
        <div>
            <div class ="animation">
                <div>
                    <h3 style = "text-align:center; color:white">01</h3>
                </div>
            </div>
                <p class="contentP"> يوميات النحاتين يجب الا تتحملها الشركة و يجب تحميل يوميات النحاتين على مقاولى تنفيذ الاعمال المتسببين فى أعمال التكسير او الاصلاح حتى و ان كان التنفيذ قد تم بواسطة العمالة الذاتية من نجارين أو حدادين .....الخ ) و يتم خصم تلك القيمة من المستخلص الذى يتم عمله للذاتى فى مختلف البنود</p>
        </div>
      </div>

      <div>
        <div">
            <div class ="animation">
                <div>
                    <h3 style = "text-align:center; color:white">02</h3>
                </div>
            </div>
                <p class="contentP"> يجب الاخذ فى الاعتبار عند دراسة تنفيذ الحوائط بطريقة الشدة المتسلقة تكلفة اعمال الاصلاح التى تتم فى حوائط الشدة المتسلقة نتيجة لاعمال فرد و استعدال الاشاير الخاصة بالاسقف فى الحوائط و ما يليها من أعمال اصلاح سواء نحاتة أو تزريع أو مبيضين حيث أن تلك التكلفة اللازمة للاصلاح تعتبر اصول صناعة و لا يتم اخذها فى الاعتبار عند تحليل السعر</p>
        </div>
      </div>


      <div>
        <div">
            <div class ="animation">
                <div>
                    <h3 style = "text-align:center; color:white">03</h3>
                </div>
            </div>
                <p class="contentP"> نقترح اضافة نسبة 0.2 % الى الدراسة التقديرية الخاصة بمشروعات تحتسب ضمن التكلفة الخاصة بالمشروع و تكون مخصصة لأعمال الاصلاح الخاص بالخرسانات     </p>
        </div>
      </div>


      

  


{% endblock content %}